.banner-dyf{
  background-color: white;
  color:black;
  width:70%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px auto 10px auto;
  border:1px solid black;
}

.banner-dyf-inside{
  font-weight: normal;
  text-align: center;
  margin-inline-start: 10px;
  margin-inline-end: 30px;
  font-size: 35px;
  
}

.welcomedive{
  display: block;
  top:70px;
  padding:200px 30px 200px 30px;    
}

@media only screen and (max-width: 740px){

  .welcomedive{
    display: block;
    top:70px;
    padding: 50px 20px 50px 20px;
}
}