

.logo-img {
  margin-top:5px;
  margin-left: 15px;
  height: 35px;
  margin-bottom: 10px;    
}

.nav-box{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.span-style{
  color: #5A6175;
  font-size: 17px;
}

.unlock-content{
  color: violet;
}

.border-bottom{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
  margin-bottom: 20px;
}

.shifted{
  padding-left: 15px;
}



.font-style{
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
}
