.logo {
  display: inline-block;
  position: relative;
}

.logo img {
  margin-left: 15px;
  height: 40px;
  width: auto;    
}

.nav-box{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.span-style{
  color: #5A6175;
  font-size: 17px;
}

.unlock-content{
  color: violet;
}

.border-bottom{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

@media only screen and (max-width: 542px){

  .unlock-content{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}